
{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
-->


<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3 align="center">Se ha desconectado del sistema.</h3>
                    <h3 align="center">Vuelva a iniciar session.</h3>
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>
    

    {% endblock %}

<!--</body>
</html>-->