<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppCoder - Editar Perfil</title>
</head>
<body>

{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h3>Registro de usuario</h3>
                    <br>


                    <form action="" method="POST" class="text-center text-black">
                        {% csrf_token %}
                            {{ form.as_p }}
                         <button style="color:blue" lign="center" type="submit">Registrate</button>
                         <button style="color:blue" lign="center" type="button" onclick="history.back()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>



{% endblock %}