<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado búsqueda</title>
</head>
<body>
    
<p>Estamos buscando el: {{nommbre}}</p>

{% if productos %}
    <ul>
        {% for producto in productos %}
        <li>{{producto.nombre}}</li>
        <li>{{producto.descripcion}}</li>
        <hr>
        {% endfor%}
    </ul>

{% endif %}
</body>
</html>